<div class="row">
    <div class="col-md-8 offset-md-2">
      <h5 class="p-2 text-center">4</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let bussiness of bussinessman">
                {{bussiness}}
            </li>
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact/th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bussiness of bussinessMans; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{bussiness.fname}}</td>
                    <td>{{bussiness.lname}}</td>
                    <td>{{bussiness.email}}</td>
                    <td>{{bussiness.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>